<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jc.candycatch">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/candy_catch_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/candy_catch_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CandyCatch">
        <activity
            android:name=".basic.BasicActivity"
            android:exported="false" />
        <activity
            android:name=".advanced.AdvancedActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CandyCatch.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>